{% extends 'base.html' %}
{% block title %}パスワードリセット|Wish_List{% endblock %}


{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h1>パスワードリセット</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p>パスワードリセット用のメールを送りました</p>
        </div>
    </div>
</div>
{% endblock %}