{% extends 'base.html' %}

{% block title %}サインアップ|Wish_List{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <h1>サインアップ</h1>
            <form action="{% url 'account_signup' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_firld_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{redirect_field_value}}">
                {% endif %}
                <button class="btn btn-primary" type="submit">登録</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}