/* a {
    color: black;
    text-decoration: none;
} */

body,
#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 6rem;
}

.false {
    color: #999999
}


.font-type {
    font-family: "HG行書体";
}

.font-title {
    font-family: Edwardian Script ITC;
}
#id_good_prionty{
    display : flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-start;
}
#id_good_prionty>li {
    margin-left: 1rem;
}



@media screen and (min-width: 992px) {
 .h2 {
   font-size: 2.0rem;
 }

}
// 中デバイス（タブレット, 992px 未満）
@media screen and (max-width: 991.98px) {
 .h2 {
   font-size: 1.5rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media screen and (max-width: 767.98px) {
 .h2 {
   font-size: 1.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media screen and (max-width: 575.98px) {
 .h2 {
   font-size: 0.75rem;
 }

}