{% extends 'base.html' %}
{% load static %}
{% block title %}詳細|Wish_List{% endblock %}
{% block active_buylist_list %}active{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="h2 mb-5">
            欲しいもの <small>詳細</small>
        </div>
        <div class="row">
            <div class="col-5">
                <strong>ほしいもの</strong>
            </div>
            <div class="col-9">
                {{object.good_name|default_if_none:""}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>個数</strong>
            </div>
            <div class="col-9">
                {{ object.good_quantity|default_if_none:"" }}個
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>価格</strong>
            </div>
            <div class="col-9">
                {{ object.good_price|default_if_none:"0" }}円
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>購入予定日</strong>
            </div>
            <div class="col-9">
                {{object.good_deadline}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>優先度</strong>
            </div>
            <div class="col-9">
                {{object.good_prionty}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>購入日</strong>
            </div>
            <div class="col-9">
                {{object.good_purohase_data|default_if_none:""}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>制作日時</strong>
            </div>
            <div class="col-9">
                {{object.good_create_data}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-5">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{object.good_update_data}}
            </div>
        </div>

        <a href="{% url 'buylist:buylist_update' buylist.pk %}" class="btn btn-success mt-5 mb-3 icon"><i class="fas fa-edit"></i>編集</a>
        <a href="{% url 'buylist:buylist_delete' buylist.pk %}" class="btn btn-primary mt-5 mb-3 icon"><i class="fas fa-trash-alt"></i>削除</a>
        <a href="{% url 'buylist:buylist_list' %}" class="btn btn-secondary mt-5 mb-3 icon"><i class="fas fa-undo"></i>戻る</a>
    </div>
    
</div>
{% endblock %}