{% extends 'base.html' %}
{% load static %}
{% block title %}編集|Wish_List{% endblock %}
{% block active_buylist_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg col-md-10 mx-auto">
                <div class="h2 mb-5">
                    欲しいもの <small>編集</small>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="table">
                        {{ form.as_table }}
                    </table>
                    <button class="btn btn-primary" type="submit">更新</button>
                    <a href="{% url 'buylist:buylist_detail' buylist.pk %}" class="btn btn-secondary ml-2">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% endblock %}
