{% extends 'base.html' %}
{% load static %}

{% block title %}作成|Wish_List{% endblock %}

{% block active_buylist_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="col-lg col-md-10 mx-auto">
            <div class="clearfix">
                <div class="my-div-style w-100">
                    <div class="h2 mb-5">
                        欲しいもの <small>新規作成</small>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <table class="table">
                            {{ form.as_table }}
                        </table>
                        <button class="btn btn-primary" type="submit">作成</button>
                        <a href="{% url 'buylist:buylist_list' %}" class="btn btn-secondary">戻る</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
      $(function () {
          // 日付は、年-月-日 の形式でお願いする。
          let dateFormat = 'yy-mm-dd';
          $('#id_good_deadline').datepicker({
              dateFormat: dateFormat
          });
          $('#id_good_purchase_data').datepicker({
              dateFormat: dateFormat
          });
      });


</script>
{% endblock %}