{% extends 'base.html' %}
{% load static %}

{% block title %}一覧|Wish_List{% endblock %}

{% block active_buylist_list %}active{% endblock %}


{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg col-md-10 mx-auto">
                <div class="clearfix">
<!--                    <a href="{% url 'buylist:buylist_list'  %}">test</a>-->
                    <div class = "h2 mb-5">
                        欲しいもの <small>一覧</small>
                        <a href="{% url 'buylist:buylist_create' %}">
                            <i class="fas fa-plus-circle float-right"></i>
<!--                            <i class="far fa-2x fa-plus-square float-right mb-5"></i>-->
                        </a>
                    </div>

                </div>
                {% for buylist in buylist_list %}
                    {% if buylist.good_status == 1 %}
                    <div class="post-preview">
                        <a href="{% url 'buylist:buylist_detail' buylist.pk %}" >
                            <div class="h2 post-title">
                                {{buylist.good_name}}　
                                <a href="{% url 'buylist:redirect' buylist.pk %}" class="btn btn-danger text-white float-right "><i class="fas fa-2x fa-shopping-cart"></i></a>
                            </div>
                        </a>
                        {% if buylist.good_price == None %}
                        <div class="post-meta col-md-5">優先度：{{buylist.good_prionty}}</div>
                        {% else %}
                        <div class="post-meta col-md-5">価格：{{buylist.good_price}}円</div>
                        {% endif %}
                        <div class="post-meta col-md-6 col-10">購入締切：{{buylist.good_deadline}}</div>
                        <div class="post-meta col-md-7">購入個数：{{buylist.good_quantity}}個</div>
                   </div>

                    <hr>
                   {% elif buylist.good_status == 0 %}
                   <div class="post-preview">
                      <a href="{% url 'buylist:buylist_detail' buylist.pk %}"　class="false">
                          <div class="h2 post-title">
                              {{buylist.good_name}}
                              <a href="{% url 'buylist:redirect' buylist.pk %}" class="btn btn-primary text-white float-right">
                                  <i class="fas fa-2x fa-times-circle"></i>
<!--                                  <i class="fas fa-2x fa-undo-alt"></i>-->
                              </a>
                          </div>
                      </a>

                      <div class="post-meta col-md-6 col-10">購入日：{{buylist.good_purohase_data}}</div>
                      <div class="post-meta col-5">{{buylist.good_purchase_shop|default_if_none:"" }}</div>

                    </div>


                    <hr>
                    {% endif %}
                    {% empty %}
                        <p>欲しいものがありません。</p>
                    {% endfor %}
                {% include 'pagination.html'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}