{% extends 'base.html' %}
{% load static %}
{% block title %}削除|Buylist{% endblock %}
{% block active_buylist %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <div class="col-lg col-md-10 mx-auto">
                <div class="h2 mb-5">
                    欲しいもの <small>削除</small>
                </div>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>ほんとに削除しますか？</p>
                    <button class="btn btn-primary mt-5" type="submit">削除</button>
                    <a href="{% url 'buylist:buylist_detail' object.pk %}" class="btn btn-secondary mt-5">キャンセル</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}