{% extends 'base.html' %}

{% load static %}

{% block title %}Wish List{%endblock %}

{% block header %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0 font-title">Wish List</h1>
        <h2 class="masthead-subheading mb-0 font-type">あなた専用の欲しいものリスト</h2>
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5 font-type">ログイン</a>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
{% endblock %}

{% block contents %}
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-4">
            <img class="img-fluid rounded-circle" src="{% static 'img/01.png'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-4">
            <div class="display-4 font-title">Wish List</div>
            <p class="font-type">web上で欲しいものリストの管理が<br>
              出来るだけじゃなく、<br>
              作成・編集・削除ができるのです!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-4">
            <img class="img-fluid rounded-circle" src="{% static 'img/02.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-4">
            <div class="display-4 font-title">Save Wish List</div>
            <p class="font-type">あなたの欲しいものリストが<br />
               ななっ、なんと！<br />
              Web上に保存することができます！</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-4">
            <img class="img-fluid rounded-circle" src="{% static 'img/03.png'%}" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-4">
            <div class="display-4 font-title">Membership</div>
            <p class="font-type">会員制のWeb欲しいもの<br />リスト管理サービス</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
